@media (max-width:1110px) {

    /* VR Section */

    .interactiveVR{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .VRtxt,.VRinteracive-img{
        transform: translate(0,0);
        width: 80vw;
    }
    .VRtxt h1{
        font-size: 3rem;
    }
    .VRtxt small{
        font-size: x-large;
        opacity: 50%;
        font-weight: bolder;
    }
}